/.idea/.idea.RpgCalendar-tests/.idea/.gitignore
/RpgCalendar.InternalApi/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/RpgCalendar.Tests/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/RpgCalendar.Utillities/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/RpgCalendar.WebService/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/RpgCalendar.Tests/bin/Debug/net8.0/CoverletSourceRootsMapping_RpgCalendar.Tests
/.idea/.idea.RpgCalendar-tests/.idea/discord.xml
/.idea/.idea.RpgCalendar-tests/.idea/encodings.xml
/.idea/.idea.RpgCalendar-tests/.idea/indexLayout.xml
/RpgCalendar.InternalApi/obj/project.assets.json
/RpgCalendar.Tests/obj/project.assets.json
/RpgCalendar.Utillities/obj/project.assets.json
/RpgCalendar.WebService/obj/project.assets.json
/RpgCalendar.InternalApi/obj/project.nuget.cache
/RpgCalendar.Tests/obj/project.nuget.cache
/RpgCalendar.Utillities/obj/project.nuget.cache
/RpgCalendar.WebService/obj/project.nuget.cache
/RpgCalendar.InternalApi/obj/project.packagespec.json
/RpgCalendar.Tests/obj/project.packagespec.json
/RpgCalendar.Utillities/obj/project.packagespec.json
/RpgCalendar.WebService/obj/project.packagespec.json
/RpgCalendar.InternalApi/obj/rider.project.model.nuget.info
/RpgCalendar.Tests/obj/rider.project.model.nuget.info
/RpgCalendar.Utillities/obj/rider.project.model.nuget.info
/RpgCalendar.WebService/obj/rider.project.model.nuget.info
/RpgCalendar.InternalApi/obj/rider.project.restore.info
/RpgCalendar.Tests/obj/rider.project.restore.info
/RpgCalendar.Utillities/obj/rider.project.restore.info
/RpgCalendar.WebService/obj/rider.project.restore.info
/RpgCalendar.InternalApi/obj/Debug/net8.0/RpgCalendar.InternalApi.AssemblyInfo.cs
/RpgCalendar.InternalApi/obj/Debug/net8.0/RpgCalendar.InternalApi.AssemblyInfoInputs.cache
/RpgCalendar.InternalApi/obj/Debug/net8.0/RpgCalendar.InternalApi.assets.cache
/RpgCalendar.InternalApi/obj/Debug/net8.0/RpgCalendar.InternalApi.csproj.AssemblyReference.cache
/RpgCalendar.InternalApi/obj/RpgCalendar.InternalApi.csproj.nuget.dgspec.json
/RpgCalendar.InternalApi/obj/RpgCalendar.InternalApi.csproj.nuget.g.props
/RpgCalendar.InternalApi/obj/RpgCalendar.InternalApi.csproj.nuget.g.targets
/RpgCalendar.InternalApi/obj/Debug/net8.0/RpgCalendar.InternalApi.GeneratedMSBuildEditorConfig.editorconfig
/RpgCalendar.InternalApi/obj/Debug/net8.0/RpgCalendar.InternalApi.GlobalUsings.g.cs
/RpgCalendar.Tests/obj/Debug/net8.0/RpgCalendar.Tests.AssemblyInfo.cs
/RpgCalendar.Tests/obj/Debug/net8.0/RpgCalendar.Tests.AssemblyInfoInputs.cache
/RpgCalendar.Tests/obj/Debug/net8.0/RpgCalendar.Tests.assets.cache
/RpgCalendar.Tests/obj/Debug/net8.0/RpgCalendar.Tests.csproj.AssemblyReference.cache
/RpgCalendar.Tests/obj/RpgCalendar.Tests.csproj.nuget.dgspec.json
/RpgCalendar.Tests/obj/RpgCalendar.Tests.csproj.nuget.g.props
/RpgCalendar.Tests/obj/RpgCalendar.Tests.csproj.nuget.g.targets
/RpgCalendar.Tests/obj/Debug/net8.0/RpgCalendar.Tests.GeneratedMSBuildEditorConfig.editorconfig
/RpgCalendar.Tests/obj/Debug/net8.0/RpgCalendar.Tests.GlobalUsings.g.cs
/RpgCalendar.Utillities/obj/Debug/net8.0/RpgCalendar.Utillities.AssemblyInfo.cs
/RpgCalendar.Utillities/obj/Debug/net8.0/RpgCalendar.Utillities.AssemblyInfoInputs.cache
/RpgCalendar.Utillities/obj/Debug/net8.0/RpgCalendar.Utillities.assets.cache
/RpgCalendar.Utillities/RpgCalendar.Utillities.csproj
/RpgCalendar.Utillities/obj/Debug/net8.0/RpgCalendar.Utillities.csproj.AssemblyReference.cache
/RpgCalendar.Utillities/obj/RpgCalendar.Utillities.csproj.nuget.dgspec.json
/RpgCalendar.Utillities/obj/RpgCalendar.Utillities.csproj.nuget.g.props
/RpgCalendar.Utillities/obj/RpgCalendar.Utillities.csproj.nuget.g.targets
/RpgCalendar.Utillities/obj/Debug/net8.0/RpgCalendar.Utillities.GeneratedMSBuildEditorConfig.editorconfig
/RpgCalendar.Utillities/obj/Debug/net8.0/RpgCalendar.Utillities.GlobalUsings.g.cs
/RpgCalendar.WebService/obj/Debug/net8.0/RpgCalendar.WebService.AssemblyInfo.cs
/RpgCalendar.WebService/obj/Debug/net8.0/RpgCalendar.WebService.AssemblyInfoInputs.cache
/RpgCalendar.WebService/obj/Debug/net8.0/RpgCalendar.WebService.assets.cache
/RpgCalendar.WebService/obj/RpgCalendar.WebService.csproj.nuget.dgspec.json
/RpgCalendar.WebService/obj/RpgCalendar.WebService.csproj.nuget.g.props
/RpgCalendar.WebService/obj/RpgCalendar.WebService.csproj.nuget.g.targets
/RpgCalendar.WebService/obj/Debug/net8.0/RpgCalendar.WebService.GeneratedMSBuildEditorConfig.editorconfig
/RpgCalendar.WebService/obj/Debug/net8.0/RpgCalendar.WebService.GlobalUsings.g.cs
/RpgCalendar.InternalApi/obj/Debug/net8.0/RpgCalendar-InternalApi.AssemblyInfoInputs.cache
/RpgCalendar.InternalApi/obj/Debug/net8.0/RpgCalendar-InternalApi.assets.cache
/RpgCalendar.InternalApi/obj/RpgCalendar-InternalApi.csproj.nuget.dgspec.json
/RpgCalendar.Tests/obj/Debug/net8.0/RpgCalendar-tests.AssemblyInfoInputs.cache
/RpgCalendar.Tests/obj/Debug/net8.0/RpgCalendar-tests.assets.cache
/RpgCalendar.Tests/obj/Debug/net8.0/RpgCalendar-tests.csproj.AssemblyReference.cache
/RpgCalendar.Tests/obj/RpgCalendar-tests.csproj.nuget.dgspec.json
/RpgCalendar.WebService/obj/Debug/net8.0/RpgCalendar-WebService.AssemblyInfoInputs.cache
/RpgCalendar.WebService/obj/Debug/net8.0/RpgCalendar-WebService.assets.cache
/RpgCalendar.WebService/obj/RpgCalendar-WebService.csproj.nuget.dgspec.json
/RpgCalendar.InternalApi/obj/Debug/net8.0/RpgCalendarInternalApi.AssemblyInfo.cs
/RpgCalendar.InternalApi/obj/Debug/net8.0/RpgCalendarInternalApi.AssemblyInfoInputs.cache
/RpgCalendar.InternalApi/obj/Debug/net8.0/RpgCalendarInternalApi.assets.cache
/RpgCalendar.InternalApi/obj/RpgCalendarInternalApi.csproj.nuget.dgspec.json
/RpgCalendar.InternalApi/obj/RpgCalendarInternalApi.csproj.nuget.g.props
/RpgCalendar.InternalApi/obj/RpgCalendarInternalApi.csproj.nuget.g.targets
/RpgCalendar.InternalApi/obj/Debug/net8.0/RpgCalendarInternalApi.GeneratedMSBuildEditorConfig.editorconfig
/RpgCalendar.InternalApi/obj/Debug/net8.0/RpgCalendarInternalApi.GlobalUsings.g.cs
/RpgCalendar.Tests/obj/Debug/net8.0/RpgCalendarTests.AssemblyInfo.cs
/RpgCalendar.Tests/obj/Debug/net8.0/RpgCalendarTests.AssemblyInfoInputs.cache
/RpgCalendar.Tests/obj/Debug/net8.0/RpgCalendarTests.assets.cache
/RpgCalendar.Tests/obj/Debug/net8.0/RpgCalendarTests.csproj.AssemblyReference.cache
/RpgCalendar.Tests/obj/RpgCalendarTests.csproj.nuget.dgspec.json
/RpgCalendar.Tests/obj/RpgCalendarTests.csproj.nuget.g.props
/RpgCalendar.Tests/obj/RpgCalendarTests.csproj.nuget.g.targets
/RpgCalendar.Tests/obj/Debug/net8.0/RpgCalendarTests.GeneratedMSBuildEditorConfig.editorconfig
/RpgCalendar.Tests/obj/Debug/net8.0/RpgCalendarTests.GlobalUsings.g.cs
/RpgCalendar.WebService/obj/Debug/net8.0/RpgCalendarWebService.AssemblyInfo.cs
/RpgCalendar.WebService/obj/Debug/net8.0/RpgCalendarWebService.AssemblyInfoInputs.cache
/RpgCalendar.WebService/obj/Debug/net8.0/RpgCalendarWebService.assets.cache
/RpgCalendar.WebService/obj/RpgCalendarWebService.csproj.nuget.dgspec.json
/RpgCalendar.WebService/obj/RpgCalendarWebService.csproj.nuget.g.props
/RpgCalendar.WebService/obj/RpgCalendarWebService.csproj.nuget.g.targets
/RpgCalendar.WebService/obj/Debug/net8.0/RpgCalendarWebService.GeneratedMSBuildEditorConfig.editorconfig
/RpgCalendar.WebService/obj/Debug/net8.0/RpgCalendarWebService.GlobalUsings.g.cs
/.idea/.idea.RpgCalendar-tests/.idea/vcs.xml
